@let places = places$ | async;

<article class="places-widget">
    @if(! places) {
        <i class="loading">Chargement des lieux...</i>
    }

    <div class="places-header">
        <button class="btn btn-secondary" (click)="change()">Modifier le titre</button>

        <h2 class="title">{{ title }}</h2>
        <p class="subtitle">{{ subTitle | toUpperCase | lowercase }}</p>
    </div>

    <div class="places-grid">
        @for (item of places; track item) {
            <article class="place-card">
                <h3>{{ item.label }}</h3>
                @if(item.imageUrl) {
                     <img [src]="item.imageUrl" [alt]="item.label">
                }
            </article>
        }
        @empty {
            <i class="empty">Aucun lieu disponible</i>
        }
    </div>

    <div class="actions">
        <button class="btn" (click)="addPlace()">Ajouter un lieu</button>

        @if(places && places.length > 0) {
            <button class="btn btn-danger" (click)="removePlace()">Retirer un lieu</button>
        }
        @else {
            <i class="empty">Aucun lieu a supprimer</i>
        }
    </div>
</article>